.nav{
  grid-area: n;
  background-color: rgb(111, 129, 163);
  padding: 15px;
  }


  .item a {
    color: rgb(245, 212, 186);
    text-decoration: none;
  }

  .item a.activeLink{
    color: rgb(26, 245, 124);
  }